// Tools – Globally used mixins and functions.
@forward '~@curiousmedia/breakpoint/src/_breakpoint.scss' as bp-* with (
  $breakpoints: (
    touch: "@media screen and (pointer: coarse)",
    cursor: "@media screen and (pointer: fine)",
    hover: "@media screen and (hover: hover)",
    still: "@media screen and (prefers-reduced-motion)",
    ty: "@media (max-width: 399px)",
    sm: "@media (max-width: 767px)",
    md: "@media (min-width: 768px) and (max-width: 1023px)",
    lg: "@media (min-width: 1024px)"
  )
);
