.root {
  display: flex;
  align-items: center;
  padding: 10px;
  transition: background-color 300ms ease-out;
  font-size: 1.25em;
  font-weight: bold;

  // Dark
  &.dark {
    background-color: #333;
    color: #EFEFEF;

    .link {
      a {
        color: #EFEFEF;

        &.active {
          background-color: rgba(255, 255, 255, 0.25);
        }
      }
    }
  }

  // Light
  &.light {
    background-color: #EFEFEF;
    color: #333;

    .link {
      a {
        color: #333;

        &.active {
          background-color: rgba(0, 0, 0, 0.25);
        }
      }
    }
  }
}

.links {
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  list-style: none;
  padding: 0;
}

.link {
  margin-left: 10px;
  margin-right: 10px;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  a {
    text-decoration: none;
    display: block;
    padding: 2px 5px;

    &.active {
      border-radius: 5px;
    }
  }
}

.logo {
  margin-right: 20px;

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}
