.new-label {
  margin-left: 5px;
  padding: 5px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  border-radius: 3px;
  display: inline-block;
  text-transform: uppercase;

  &.theme-red {
    background-color: red;
    color: #FFF;
  }

  &.size-md {
    font-size: 10px;
  }

  &.theme-blue {
    background-color: blue;
    color: #FFF;
  }
}
